<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Edith Clarke</title>
</head>
<body>
    <header>
        <nav>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a style="text-decoration:none" href="/babbage">Charles Babbage</a></li>
            <li><a style="text-decoration:none" href="/berners-lee">Tim Berners-Lee</a></li>
            <li>Edith Clarke</li>
            <li><a style="text-decoration:none" href="/hamilton">Margaret Hamilton</a></li>
            <li><a style="text-decoration:none" href="/hopper">Grace Murray Hopper</a></li>
            <li><a style="text-decoration:none"href="/lovelace">Ada Lovelace</a></li>
            <li><a style="text-decoration:none" href="/turing">Alan Turing</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <br>
        <br>
        <h1>Edith Clarke</h1>
        <hr>
        <img src="https://upload.wikimedia.org/wikipedia/en/9/92/Edith_Clarke.jpg" alt="Edith Clarke">
        <p>Edith Clarke ([[Condado de Howard (Maryland)Howard, 10 de febrero de 1883 – Maryland, 29 de octubre de 1959) fue la primera ingeniera eléctrica estadounidense y la primera profesora de ingeniería eléctrica en la Universidad de Texas en Austin (Estados Unidos). Se especializó en análisis de sistemas de energía eléctrica y escribió el manual Circuit Analysis of A-C Power Systems.</p>
        <h2>Primeros años y educación</h2>
        <hr>
        <p>Clarke nació en 1883 en Howard County (Maryland), hija de John Ridgely Clarke y Susan Dorsey Owings, y hermana de ocho. Después de quedar huérfana a los 12 años, fue criada por su hermana mayor. Utilizó su herencia para estudiar matemáticas y astronomía en el Vassar College, donde se graduó en 1908.</p>
        <p>Después de la universidad, Clarke enseñó matemáticas y física en un colegio privado en San Francisco y en la Universidad Marshall. Dedicó algún tiempo a estudiar ingeniería civil en la Universidad de Wisconsin–Madison, pero lo dejó en 1912 para convertirse en una "calculadora humana" en la compañía de telecomunicaciones AT&T. Realizó cálculos para el ingeniero George Campbell, que aplicó métodos matemáticos para resolver los problemas de las transmisiones eléctricas de larga distancia. Mientras trabajaba en AT&T, estudiaba ingeniería eléctrica en la Universidad de Columbia por las noches.</p>
        <p>En 1918, Clarke se matriculó en el Instituto Tecnológico de Massachusetts, y el año siguiente se convirtió en la primera mujer en obtener un M.S. (Master of Science) en ingeniería eléctrica del MIT.</p>
        <h2>Trayectoria profesional</h2>
        <hr>
      <p>Incapaz de encontrar trabajo como ingeniera, empezó a trabajar para General Electric como supervisora de ordenadores en el Departamento de Ingeniería de la Turbina. En su tiempo libre, inventó la 'calculadora Clarke', un sencillo dispositivo gráfico que resolvía ecuaciones implicando corriente eléctrica, voltaje e impedancia en líneas de transmisión de energía. El aparato solucionaba ecuaciones lineales que implican funciones hiperbólicas diez veces más rápido que métodos anteriores. Clarke presentó una solicitud de patente para la calculadora en 1921 que le fue concedida en 1925.</p>
    <p>En 1921, todavía incapaz de obtener una posición como ingeniera, dejó GE para enseñar física en el centro para mujeres Constantinople Women's College en Turquía. Al año siguiente, fue contratada de nuevo por GE como ingeniera eléctrica en el Departamento de Ingeniería de la Estación Central. Clarke se retiró de General Electric en 1945.</p>
    <p>Su formación en matemáticas le ayudó a conseguir fama en su campo. El 8 de febrero de 1926, siendo la primera mujer en presentar un artículo científico en la reunión anual del Instituto Americano de Ingenieros Eléctricos, mostró el uso de las funciones hiperbólicas para calcular la máxima potencia que una línea podía transportar sin inestabilidad.10​ Dos de sus últimos artículos fueron premiados por la AIEE: en 1932 por el mejor artículo regional y en 1941 por el mejor artículo nacional.</p>
    <p>En 1943, Clarke escribió un libro de texto de referencia en el campo de la ingeniería de la energía, titulado Circuit Analysis of A-C Power Systems, y basado en sus notas para las conferencias que impartió a los ingenieros de GE. En 1950, publicó un segundo tomo de la obra.</p>
    <p>En 1947, entró a formar parte de la facultad del Departamento de Ingeniería Eléctrico de la Universidad de Texas en Austin, en donde fue nombrada la primera profesora de Ingeniería Eléctrica del país. Dio clase durante diez años y se retiró en 1957.</p>
    <p>En una entrevista con el Daily Texan el 14 de marzo de 1948, Clarke declaró:</p>
    <q>No existe una demanda de ingenieras como tal, como sí existe para doctoras; pero siempre existe demanda de quien puede hacer un buen trabajo.</q>
    <h2>Galardones</h2>
    <hr>
    <p>Clarke fue la primera ingeniera en conseguir un puesto profesional en la sociedad de honor de ingenieros más antigua de Estados Unidos, Tau Beta Pi. En 1948, se convirtió en la primera Socia del Instituto Americano de Ingenieros Eléctricos. En 1954, recibió también el Premio al Logro de la organización sin ánimo de lucro Society of Women Engineers.</p>
    <p>En 2015, Clarke fue incluida a título póstumo en el Salón de la Fama Nacional de los Inventores.</p>
    </main>
    <footer>
        <span><a href="/">Volver al inicio</a></span> <span><a href="#top">Ir arriba</a></span>
        <div id=footer>Web de práctica realizada por Christian Ariel Munich</div>
    </footer>  </body>
</html>