header {
    position:absolute;
    text-align: center;
    color: white;
    top:0;
    width:99%;
    height: 50px;
    background:black;    
}
li{
    display: inline;
    list-style-type: none;
    color: rgb(255, 255, 255);
    margin: 15px;
}
a {
    text-decoration: none;
    color: white;
}
body {
    text-align: center;
    background-color: rgb(50, 50, 50);
    color:white;
}

footer {
    position:absolute;
    text-align: center;
    color: white;
    bottom:0;
    width:99%;
    height:30px;
    background:black;
 }

 h1{
     text-align: center;
 }

 p{
     text-align: justify;
 }
 