header {
    position:absolute;
    text-align: center;
    color: white;
    top:0;
    width:99%;
    height: 50px;
    background-image: linear-gradient(black, gray);
;    
}
li{
    display: inline;
    list-style-type: none;
    color: rgb(255, 255, 255);
    margin: 15px;
}
a {
    text-decoration: none;
    color: white;
}
body {
    background-image:url('https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs2/2118440/original/55/send-100-high-resolution-web-background-1920x1200.jpg');
    background-size:cover;
}

footer {
    position:absolute;
    text-align: center;
    color: white;
    bottom:0;
    width:99%;
    height:30px;
    background:black;
 }

 h1{
     text-align: center;
     background-color: rgba(25, 25, 25, 0.8);
     color:white;
 }

 p{
     text-align: justify;
     background-color: rgba(25, 25, 25, 0.8);
     color:white;
 }
 